<script type="ts">
    import { layout } from "../svelte_stores/layout_store";
    import {
        Label,
        Range,
        Input,
        NumberInput,
        Button,
        ButtonGroup,
        Tooltip,
    } from "flowbite-svelte";
    import RangeWithNumberInput from "../form_components/RangeWithNumberInput.svelte";
    export let i_subplot;
</script>

<div class="flex flex-col gap-3">
    <Label
        >Height
        <RangeWithNumberInput
            min={50}
            max={1000}
            step={1}
            bind:value={$layout.subplots[i_subplot].height} />
    </Label>

    <Label
        >Top margin
        <RangeWithNumberInput
            min={0}
            max={100}
            step={1}
            bind:value={$layout.subplots[i_subplot].margins.top} />
    </Label>

    <Label
        >Bottom margin
        <RangeWithNumberInput
            min={0}
            max={100}
            step={1}
            bind:value={$layout.subplots[i_subplot].margins.bottom} />
    </Label>

    <h2>3D options</h2>

    {#if "options_3d" in $layout.subplots[i_subplot]}
        <Label
            >Camera attached to reference frame:
            <Input
                bind:value={$layout.subplots[i_subplot].options_3d
                    .camera_attached_to} />
        </Label>
        <Label
            >Horizontal position of 3D plot
            <RangeWithNumberInput
                min={0}
                max={1}
                step={0.0005}
                bind:value={$layout.subplots[i_subplot].options_3d
                    .x_position} />
        </Label>
    {/if}
</div>
