<script type="ts">
    import { layout } from "../svelte_stores/layout_store";
    import {
        sidebar_width,
        sidebar_width_tab_labels,
    } from "../svelte_stores/sidebar_width_store";

    import { plot_element_template } from "../templates/plot_element_template.js";
    import {
        Accordion,
        AccordionItem,
        FloatingLabelInput,
        Input,
        InputAddon,
        Button,
        ButtonGroup,
        Radio,
        Tabs,
        TabItem,
        Label,
    } from "flowbite-svelte";

    import RangeWithNumberInput from "../form_components/RangeWithNumberInput.svelte";
    import PlotElementEdit from "../plot_element_forms/PlotElementEdit.svelte";
    import SubplotGeometryForm from "./SubplotGeometryForm.svelte";
    import SubplotAnnotationForm from "./SubplotAnnotationForm.svelte";

    import {
        Eye,
        EyeSlash,
        ArrowDown,
        ArrowUp,
        AdjustmentsHorizontal,
        PresentationChartLine,
        Tag,
        Trash,
        ViewColumns,
    } from "svelte-heros-v2";
    import { uid } from "../svelte_stores/uid_store.js";

    export let i_subplot;

    let open = true;

    const close_subplot = function (i_subplot) {
        open = false;
        $layout.subplots = [
            ...$layout.subplots.slice(0, i_subplot),
            ...$layout.subplots.slice(i_subplot + 1),
        ];
    };

    const move_down_subplot = function (i_subplot) {
        let tmp = $layout.subplots;
        [tmp[i_subplot], tmp[i_subplot + 1]] = [
            tmp[i_subplot + 1],
            tmp[i_subplot],
        ];
        $layout.subplots = tmp;
    };

    const move_up_subplot = function (i_subplot) {
        let tmp = $layout.subplots;
        [tmp[i_subplot], tmp[i_subplot - 1]] = [
            tmp[i_subplot - 1],
            tmp[i_subplot],
        ];
        $layout.subplots = tmp;
    };

    const add_plot_element = function (i_subplot) {
        $uid = $uid + 1;
        $layout.subplots[i_subplot].plot_elements = [
            ...$layout.subplots[i_subplot].plot_elements,
            {
                ...JSON.parse(JSON.stringify(plot_element_template)),
                computed: { id: $uid },
            },
        ];
    };
</script>

{#if open && $layout.subplots[i_subplot]}
    <div class="flex flex-col gap-5">
        <div class="flex justify-between">
            <Button
                size="xs"
                color="red"
                on:click={() => {
                    close_subplot(i_subplot);
                }}><Trash size="14" /></Button>

            <ButtonGroup size="xs">
                {#if $layout.subplots[i_subplot].visible}
                    <Button
                        color="blue"
                        on:click={() => {
                            $layout.subplots[i_subplot].visible =
                                !$layout.subplots[i_subplot].visible;
                        }}>
                        <Eye size="14" />
                    </Button>
                {:else}
                    <Button
                        color="red"
                        on:click={() => {
                            $layout.subplots[i_subplot].visible =
                                !$layout.subplots[i_subplot].visible;
                        }}>
                        <EyeSlash size="14" />
                    </Button>
                {/if}

                {#if i_subplot == $layout.subplots.length - 1}
                    <Button disabled><ArrowDown size="14" /></Button>
                {:else}
                    <Button
                        on:click={() => {
                            move_down_subplot(i_subplot);
                        }}><ArrowDown size="14" /></Button>
                {/if}

                {#if i_subplot == 0}
                    <Button disabled><ArrowUp size="14" /></Button>
                {:else}
                    <Button
                        on:click={() => {
                            move_up_subplot(i_subplot);
                        }}><ArrowUp size="14" /></Button>
                {/if}
            </ButtonGroup>
        </div>
        <div></div>
    </div>

    <Label
        >Trim Y-axis minimum and maximum
        {#if $layout.subplots[i_subplot].ydomain?.mirror}
            <RangeWithNumberInput
                min={0}
                max={$layout.subplots[i_subplot].ydomain.bounds[1]}
                bind:value={$layout.subplots[i_subplot].ydomain.default[1]}
                on:change={() => {
                    $layout.subplots[i_subplot].ydomain.default[0] =
                        -1 * $layout.subplots[i_subplot].ydomain.default[1];
                }} />
        {:else}
            <RangeWithNumberInput
                min={$layout.subplots[i_subplot].ydomain.bounds[0]}
                max={$layout.subplots[i_subplot].ydomain.bounds[1]}
                bind:value={$layout.subplots[i_subplot].ydomain.default[0]} />
            <RangeWithNumberInput
                min={$layout.subplots[i_subplot].ydomain.bounds[0]}
                max={$layout.subplots[i_subplot].ydomain.bounds[1]}
                bind:value={$layout.subplots[i_subplot].ydomain.default[1]} />
        {/if}
    </Label>

    <Label
        >Height
        <RangeWithNumberInput
            min={50}
            max={1000}
            step={1}
            bind:value={$layout.subplots[i_subplot].height} />
    </Label>

    <Tabs style="underline">
        <!-- Subplot plot elements -->
        <TabItem open>
            <div slot="title" class="flex items-center gap-2">
                <PresentationChartLine />
                {#if $sidebar_width > sidebar_width_tab_labels}Elements{/if}
            </div>
            <Accordion flush>
                {#each $layout.subplots[i_subplot].plot_elements as plot_element, i_plot_element (plot_element.computed.id)}
                    <AccordionItem>
                        <span slot="header">
                            <!-- <Indicator color={plot_element.plot_options.fill}/> -->
                            {i_subplot + 1}.{i_plot_element + 1}. {plot_element.title}
                        </span>
                        <PlotElementEdit {i_subplot} {i_plot_element} />
                    </AccordionItem>
                {/each}
            </Accordion>
            <Button
                style="margin-top: 20px"
                outline
                size="xs"
                on:click={() => {
                    add_plot_element(i_subplot);
                }}>New element</Button>
        </TabItem>

        <!-- Subplot annotation -->
        <TabItem>
            <div slot="title" class="flex items-center gap-2">
                <ViewColumns />{#if $sidebar_width > sidebar_width_tab_labels}Annotation{/if}
            </div>
            <SubplotAnnotationForm {i_subplot} />
        </TabItem>

        <!-- Subplot geometry -->
        <TabItem>
            <div slot="title" class="flex items-center gap-2">
                <AdjustmentsHorizontal />{#if $sidebar_width > sidebar_width_tab_labels}Geometry{/if}
            </div>
            <SubplotGeometryForm {i_subplot} />
        </TabItem>
    </Tabs>
{/if}
