<script lang="ts">
    import { useQuery } from "@sveltestack/svelte-query";
    import { fetch_json } from "./fetch_json.js";
    import { layout_file, layout } from "./svelte_stores/layout_store";
    import {
        show_layout_forms,
        show_bookmarks,
    } from "./svelte_stores/show_panes_store.js";
    import { sidebar_width } from "./svelte_stores/sidebar_width_store";
    import {
        set_ids_on_newly_loaded_layout,
        set_dataset_parameters,
    } from "./svelte_stores/catalog_and_info_store.js";
    import { global_zoom_detail_factor } from "./svelte_stores/zoom_range_store";

    import Navbar from "./Navbar.svelte";
    import InfoModal from "./InfoModal.svelte";
    import LayoutEdit from "./LayoutEdit.svelte";
    import Bookmarks from "./Bookmarks.svelte";
    import ZoomableSVG from "./svg_plots/ZoomableSVG.svelte";

    import dayjs from "dayjs";
    import utc from "dayjs/plugin/utc";
    dayjs.extend(utc);

    $: layoutQuery = useQuery(["layout", $layout_file], fetch_json, {
        staleTime: 86400e3,
    });

    import {
        timeDomain,
        parse_time_or_duration_string,
    } from "./svelte_stores/timedomain_store.js";

    $: {
        if ($layoutQuery.isSuccess) {
            // Set layout store
            $layout = set_dataset_parameters(
                set_ids_on_newly_loaded_layout($layoutQuery.data),
            );

            // Set timedomain store
            let t0, t1;
            let urlParams = new URLSearchParams(
                window.location.hash.substring(1),
            );

            if (urlParams.has("start")) {
                let start = urlParams.get("start");
                t0 = parse_time_or_duration_string(start);
            } else {
                t0 = parse_time_or_duration_string(
                    $layoutQuery.data.default_zoom.tmin,
                );
            }
            if (urlParams.has("end")) {
                let end = urlParams.get("end");
                t1 = parse_time_or_duration_string(end);
            } else if (urlParams.has("stop")) {
                let end = urlParams.get("stop");
                t1 = parse_time_or_duration_string(end);
            } else {
                t1 = parse_time_or_duration_string(
                    $layoutQuery.data.default_zoom.tmax,
                );
            }
            // console.log(t0, t1);
            $timeDomain = [t0, t1];

            // Set default global zoom detail factor
            $global_zoom_detail_factor =
                $layoutQuery.data.options.zoom_detail_factor;
        }
    }
</script>

<header class="p-2 bg-white dark:bg-gray-900"><Navbar /></header>
<main class="w-full h-full flex flex-row">
    {#if $layoutQuery.isLoading}
        <div class="m-6">
            <span class="text-3xl font-thin dark:text-white"
                >Loading layout...</span>
        </div>
    {:else if $layoutQuery.isError}
        <div>
            A problem occurred loading the <a
                href={$layout_file}
                style="text-decoration: underline;cursor: pointer;">layout</a
            >. Please try again later.&nbsp;
        </div>
        <div>Message: {$layoutQuery.error}</div>
    {:else}
        {#if $show_layout_forms}
            <div
                class="layout_edit_container overflow-y-auto"
                bind:clientWidth={$sidebar_width}>
                <LayoutEdit />
            </div>
        {/if}
        {#if $show_bookmarks}
            <div
                class="bookmarks_container overflow-y-auto"
                bind:clientWidth={$sidebar_width}>
                <Bookmarks />
            </div>
        {/if}
        <div class="svg-container w-full h-full">
            <ZoomableSVG />
        </div>
    {/if}
    <InfoModal />
</main>

<style>
    header {
        position: fixed;
        height: 52px;
        width: 100%;
        overflow: clip;
        background: #a0d0f0;
    }

    main {
        position: fixed;
        top: 52px;
        height: calc(100% - 52px);
    }

    .layout_edit_container {
        width: 40%;
        min-width: 375px;
        max-width: 600px;
    }

    .bookmarks_container {
        width: 40%;
        min-width: 375px;
        max-width: 600px;
    }

    .svg-container {
        height: 100%;
        overflow: clip;
    }
</style>
