<script>
    import { layout_file, layout } from "./svelte_stores/layout_store";
    import {
        get_catalogs,
        get_dataset_infos,
        collect_dataset_parameters,
    } from "./svelte_stores/catalog_and_info_store.js";

    import {
        Table,
        TableBody,
        TableBodyCell,
        TableBodyRow,
        TableHead,
        TableHeadCell,
        Checkbox,
        TableSearch,
    } from "flowbite-svelte";

    import { useQuery } from "@sveltestack/svelte-query";
    import { fetch_json } from "./fetch_json.js";

    let servers = [],
        catalog_queries;
    // 	let catalogs = {};
    let info_urls = [],
        info_queries;
    // 	let infos = {};
    //
    const layoutQuery = useQuery(["layout", $layout_file], fetch_json, {
        staleTime: 86400e3,
    });

    $: if ($layoutQuery.isSuccess) {
        [servers, catalog_queries] = get_catalogs($layout);
    }

    //
    // 	let status_obj = [];
    //     $: {
    //         if (!($layout === undefined)) {
    //             for (const subplot of $layout.subplots) {
    //                 for (const plot_element of subplot.plot_elements) {
    //                     const server = plot_element.data.server;
    //                     const catalog_url = plot_element.data.server + '/catalog';
    //                     const info_url = plot_element.data.server + '/info?id=' + plot_element.data.dataset;
    //                     status_obj.push({'server': plot_element.data.server, 'catalog_url': catalog_url, 'info_url': info_url});
    //                 }
    //             }
    //         }
    //     }
    //
    //     $: const catalog_queries = useQueries(
    //        users.map(user => {
    //          return {
    //            queryKey: ['user', user.id],
    //            queryFn: () => fetchUserById(user.id),
    //          }
    //        })
    //      )
</script>

{#if $layoutQuery.isSuccess}
    <Table shadow>
        <TableBody>
            <TableBodyRow>
                <TableBodyCell>Layout</TableBodyCell>
                <TableBodyCell>{$layoutQuery.status}</TableBodyCell>
            </TableBodyRow>
        </TableBody>
    </Table>
    <Table shadow>
        <TableHead>
            <TableHeadCell>Dataset</TableHeadCell>
            <TableHeadCell>Parameters</TableHeadCell>
            <!-- <TableHeadCell>Catalog</TableHeadCell>
			<TableHeadCell>Info</TableHeadCell>
			<TableHeadCell>Data</TableHeadCell> -->
        </TableHead>
        <TableBody>
            <TableBodyRow>
                <TableBodyCell>Layout</TableBodyCell>
                <TableBodyCell>{$layoutQuery.status}</TableBodyCell>
            </TableBodyRow>
            {#each servers as server, i_server}
                <TableBodyRow>
                    <TableBodyCell>
                        {server}
                    </TableBodyCell>
                    <TableBodyCell>
                        {$catalog_queries[i_server].status}
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
        </TableBody>
    </Table>
{:else}
    <p>Loading layout</p>
{/if}

<style>
</style>
