<script>
    export let plot_element;
    export let xScale;
    export let yScale;
    export let x_position = 0.5;

    import dayjs from "dayjs";
    import duration from "dayjs/plugin/duration";
    import utc from "dayjs/plugin/utc";
    dayjs.extend(duration);
    dayjs.extend(utc);

    $: bottom = yScale.range()[1];
    $: height = yScale.range()[0] - bottom;

    $: epoch_dayjs = dayjs(xScale.domain()[0]).add(
        x_position * dayjs(xScale.domain()[1]).diff(dayjs(xScale.domain()[0])),
        "ms",
    );

    let margin_top = plot_element.plot_options.image_margins.top
        ? plot_element.plot_options.image_margins.top
        : 0;
    let margin_bottom = plot_element.plot_options.image_margins.bottom
        ? plot_element.plot_options.image_margins.bottom
        : 0;

    $: image_height =
        yScale.range()[0] - yScale.range()[1] - margin_top - margin_bottom;
    $: image_width = plot_element.plot_options.aspect_ratio * image_height;
</script>

{#if plot_element.visible}
    <image
        href={plot_element.data.url}
        preserveAspectRatio="xMidYMid meet"
        x={xScale.range()[0] +
            0.5 * (xScale.range()[1] - xScale.range()[0]) -
            0.5 * image_width}
        y={yScale.range()[1] + margin_top}
        width={image_width}
        height={image_height} />
{/if}

<style>
</style>
