<script>
    import { T, useThrelte, extend } from "@threlte/core";
    import { OrbitControls } from "@threlte/extras";

    extend({
        OrbitControls,
    });

    const { camera } = useThrelte();

    export let height;
    export let position = [0, 6, 0];
    export let type = "orthographic";

    export let zoom_earthradii = 2.5;
    export let clip_left = 2.5;
    export let clip_right = 2.5;
    export let clip_top = 2.5;
    export let clip_bottom = 2.5;
    export let clip_near = 0.1;
    export let clip_far = 200;

    export let fov = 22;
    export let orbit_controls_enabled = true;
</script>

{#if type == "orthographic"}
    <T.OrthographicCamera
        makeDefault
        {position}
        left={clip_left}
        right={clip_right}
        top={clip_top}
        bottom={clip_bottom}
        near={clip_near}
        far={clip_far}
        zoom={height / zoom_earthradii}>
        <OrbitControls
            autoRotate={false}
            enableZoom={true}
            enablePan={false}
            enableDamping={true}
            dampingFactor={0.15}
            minZoom={(0.25 * height) / zoom_earthradii}
            maxZoom={(15 * height) / zoom_earthradii} />
    </T.OrthographicCamera>
{:else}
    <T.PerspectiveCamera
        makeDefault
        {position}
        {fov}
        near={clip_near}
        far={clip_far}
        aspect="1">
        <OrbitControls
            autoRotate={false}
            enabled={orbit_controls_enabled}
            enableZoom={true}
            enablePan={false}
            enableDamping={true}
            dampingFactor={0.1}
            minZoom={0.25}
            maxZoom={5} />
    </T.PerspectiveCamera>
{/if}
