<script>
    import { layout } from "../svelte_stores/layout_store";

    import {
        Table,
        TableBody,
        TableBodyCell,
        TableBodyRow,
    } from "flowbite-svelte";
    import { Label, Input, NumberInput, Toggle, Helper } from "flowbite-svelte";

    import RangeWithNumberInput from "../form_components/RangeWithNumberInput.svelte";

    import { timeDomain } from "../svelte_stores/timedomain_store";
    import {
        global_zoom_detail_factor,
        range_pixels,
    } from "../svelte_stores/zoom_range_store";

    import * as d3 from "d3";

    import dayjs from "dayjs";
    import duration from "dayjs/plugin/duration";
    import relativeTime from "dayjs/plugin/relativeTime";
    dayjs.extend(duration);
    dayjs.extend(relativeTime);

    export let i_subplot;
    export let i_plot_element;
    export let info_query;
    // export let catalog_query;

    let date_relative = true;

    let start_date_display = "Not available";

    const date_display = function (date, date_relative) {
        if (date) {
            return date_relative
                ? dayjs(date).fromNow()
                : dayjs(date).toISOString();
        } else {
            return "Unavailable";
        }
    };

    let subplot, plot_element, max_points;
    $: {
        if ($layout.subplots[i_subplot]) {
            subplot = $layout.subplots[i_subplot];
            if ($layout.subplots[i_subplot].plot_elements[i_plot_element]) {
                plot_element = subplot.plot_elements[i_plot_element];
                max_points =
                    $global_zoom_detail_factor *
                    plot_element.data.zoom_detail_factor *
                    $range_pixels;
            }
        }
    }

    // Info per dataset
    //     $: info_query = useQuery(['info', $layout.subplots[i_subplot].plot_elements[i_plot_element].server + '/info?id=' + $layout.subplots[i_subplot].plot_elements[i_plot_element].dataset], fetch_json,
    //                                {staleTime: 86400e3, enabled: !!$layout.subplots[i_subplot].plot_elements[i_plot_element].dataset});
    //
    //     $: {
    //         info_query.setOptions(
    //             ['info', $layout.subplots[i_subplot].plot_elements[i_plot_element].server + '/info?id=' + $layout.subplots[i_subplot].plot_elements[i_plot_element].dataset],
    //             fetch_json,
    //             { staleTime: 86400e3, enabled: !!$layout.subplots[i_subplot].plot_elements[i_plot_element].dataset }
    //         );
    //     }
</script>

<h2>Timing info:</h2>
<Label
    >Refetch interval (in seconds)
    <RangeWithNumberInput
        min={60}
        max={86400}
        step={10}
        bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element]
            .data.refetch_interval_seconds} />
</Label>

<Label
    >Zoom detail factor
    <Helper
        >The maximum number of points that will be loaded for a dataset is
        determined by the number of pixels in the graph, multiplied by this
        factor, and the factor in the global options.</Helper>

    <RangeWithNumberInput
        min={0.25}
        max={4}
        step={0.125}
        bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element]
            .data.zoom_detail_factor} />
</Label>

<Table>
    <TableBody>
        <TableBodyRow>
            <TableBodyCell>Start</TableBodyCell>
            <TableBodyCell>
                {date_display(info_query.data.startDate, date_relative)}
            </TableBodyCell>
        </TableBodyRow>
        <TableBodyRow>
            <TableBodyCell>Stop</TableBodyCell>
            <TableBodyCell>
                {date_display(info_query.data.stopDate, date_relative)}
            </TableBodyCell>
        </TableBodyRow>
        <TableBodyRow>
            <TableBodyCell>Cadence</TableBodyCell>
            <TableBodyCell>
                {info_query.isSuccess && info_query.data.cadence
                    ? info_query.data.cadence
                    : "Not available"}
            </TableBodyCell>
        </TableBodyRow>
        {#if !info_query.data.cadence}
            <TableBodyRow>
                <TableBodyCell>Cadence override</TableBodyCell>
                <TableBodyCell>
                    <Input
                        size="sm"
                        bind:value={$layout.subplots[i_subplot].plot_elements[
                            i_plot_element
                        ].cadence}></Input>
                </TableBodyCell>
            </TableBodyRow>
        {/if}
        <TableBodyRow>
            <TableBodyCell>Range in pixels</TableBodyCell>
            <TableBodyCell>
                {$range_pixels}
            </TableBodyCell>
        </TableBodyRow>
        <TableBodyRow>
            <TableBodyCell>Points at max cadence</TableBodyCell>
            <TableBodyCell>
                {info_query.data.cadence
                    ? d3.format("d")(
                          ($timeDomain[1] - $timeDomain[0]) /
                              dayjs
                                  .duration(info_query.data.cadence)
                                  .asMilliseconds(),
                      )
                    : d3.format("d")(
                          ($timeDomain[1] - $timeDomain[0]) /
                              dayjs
                                  .duration(
                                      $layout.subplots[i_subplot].plot_elements[
                                          i_plot_element
                                      ].cadence,
                                  )
                                  .asMilliseconds(),
                      )}
            </TableBodyCell>
        </TableBodyRow>
        <TableBodyRow>
            <TableBodyCell>Global zoom detail factor</TableBodyCell>
            <TableBodyCell>
                {$global_zoom_detail_factor}
            </TableBodyCell>
        </TableBodyRow>
        <TableBodyRow>
            <TableBodyCell>Zoom detail factor</TableBodyCell>
            <TableBodyCell>
                {$layout.subplots[i_subplot].plot_elements[i_plot_element]
                    .zoom_detail_factor}
            </TableBodyCell>
        </TableBodyRow>
        <TableBodyRow>
            <TableBodyCell>Max points</TableBodyCell>
            <TableBodyCell>
                {max_points}
            </TableBodyCell>
        </TableBodyRow>
    </TableBody>
</Table>
<Toggle size="small" bind:checked={date_relative}
    >Show relative start/stop dates</Toggle>
