<script>
    import { layout } from "../svelte_stores/layout_store";
    import {
        find_alternatives,
        select_dataset_from_cadence_info,
    } from "../svelte_stores/alternative_datasets";

    import {
        global_zoom_detail_factor,
        range_pixels,
    } from "../svelte_stores/zoom_range_store";

    import {
        Table,
        TableBody,
        TableBodyCell,
        TableBodyRow,
        TableHead,
        TableHeadCell,
    } from "flowbite-svelte";
    import { Input, Label, Select, Helper, Indicator } from "flowbite-svelte";

    import { timeDomain } from "../svelte_stores/timedomain_store";
    import { useQuery } from "@sveltestack/svelte-query";
    import { fetch_json } from "../fetch_json.js";

    import * as d3 from "d3";

    export let i_subplot;
    export let i_plot_element;
    export let catalog_query;
    export let info_query;

    let subplot,
        plot_element,
        server,
        dataset,
        catalog_url,
        info_url,
        max_points,
        alternative_datasets,
        selected_dataset;
    $: {
        if ($layout.subplots[i_subplot]) {
            subplot = $layout.subplots[i_subplot];
            if ($layout.subplots[i_subplot].plot_elements[i_plot_element]) {
                plot_element = subplot.plot_elements[i_plot_element];
                server = plot_element.data.server;
                dataset = plot_element.data.dataset;
                catalog_url = server + "/catalog";
                info_url = server + "/info?id=" + dataset;
                max_points =
                    $global_zoom_detail_factor *
                    plot_element.data.zoom_detail_factor *
                    $range_pixels;
                alternative_datasets = find_alternatives(
                    plot_element,
                    catalog_query.data,
                    info_query.data,
                );
                selected_dataset = select_dataset_from_cadence_info(
                    alternative_datasets,
                    $timeDomain,
                    max_points,
                );
            }
        }
    }

    const mode_titles = {
        off: "Off - use only this dataset",
        knmi: "KNMI - ISO duration after last underscore",
        x_relations:
            "KNMI - Use of x_relations with different cadences in main dataset's HAPI info",
        intermagnet:
            "Intermagnet - ISO duration between last two forward-slashes",
        manual: "Manual - create links to other plot elements in this subplot (not yet implemented)",
    };
</script>

<Label
    >Dataset cadence selection mode:
    <Select
        bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element]
            .data.cadence_alternative_datasets_mode}>
        {#each Object.keys(mode_titles) as mode_title_key}
            <option value={mode_title_key}
                >{mode_titles[mode_title_key]}</option>
        {/each}
    </Select>
    <Helper>Use datasets with different cadences on zoom.</Helper>
</Label>

{#if alternative_datasets.length > 0}
    {#if plot_element.data.cadence_alternative_datasets_mode == "knmi" || plot_element.data.cadence_alternative_datasets_mode == "intermagnet" || plot_element.data.cadence_alternative_datasets_mode == "x_relations"}
        <Table>
            <TableHead>
                <TableHeadCell>Dataset ID</TableHeadCell>
                <TableHeadCell>Points</TableHeadCell>
            </TableHead>
            <TableBody>
                {#each alternative_datasets.sort( (a, b) => (a.cadence_info.cadence_sec > b.cadence_info.cadence_sec ? 1 : -1), ) as dataset}
                    <TableBodyRow>
                        <TableBodyCell>
                            {#if selected_dataset.dataset_id == dataset.dataset_id}
                                <span class="text-sky-700 text"
                                    >{dataset.dataset_id}</span>
                            {:else}
                                <span>{dataset.dataset_id}</span>
                            {/if}
                        </TableBodyCell>
                        <TableBodyCell>
                            {d3.format("d")(
                                ($timeDomain[1] - $timeDomain[0]) /
                                    (dataset.cadence_info.cadence_sec * 1000),
                            )}
                        </TableBodyCell>
                    </TableBodyRow>
                {/each}
            </TableBody>
        </Table>
    {:else}
        <p>This mode has not yet been implemented.</p>
    {/if}
{:else}
    <p>No alternative datasets. Only this dataset will be used.</p>
{/if}
