<script type="ts">
    import { layout } from "../svelte_stores/layout_store";
    import {
        sidebar_width,
        sidebar_width_tab_labels,
    } from "../svelte_stores/sidebar_width_store";

    import { fetch_json } from "../fetch_json.js";
    import { useQuery } from "@sveltestack/svelte-query";
    import {
        Button,
        ButtonGroup,
        Input,
        Label,
        Tabs,
        TabItem,
    } from "flowbite-svelte";
    import PlotElementHAPIForm from "./PlotElementHAPIForm.svelte";
    import PlotElementStyleForm from "./PlotElementStyleForm.svelte";

    import {
        Eye,
        EyeSlash,
        ArrowUp,
        ArrowDown,
        Server,
        Swatch,
        Trash,
        Tag,
    } from "svelte-heros-v2";
    export let i_subplot;
    export let i_plot_element;
    let open = true;

    const close_plot_element = function (i_subplot, i_plot_element) {
        open = false;
        $layout.subplots[i_subplot].plot_elements = [
            ...$layout.subplots[i_subplot].plot_elements.slice(
                0,
                i_plot_element,
            ),
            ...$layout.subplots[i_subplot].plot_elements.slice(
                i_plot_element + 1,
            ),
        ];
    };

    const move_down_plot_element = function (i_subplot, i_plot_element) {
        let tmp = $layout.subplots[i_subplot].plot_elements;
        [tmp[i_plot_element], tmp[i_plot_element + 1]] = [
            tmp[i_plot_element + 1],
            tmp[i_plot_element],
        ];
        $layout.subplots[i_subplot].plot_elements = tmp;
    };

    const move_up_plot_element = function (i_subplot, i_plot_element) {
        let tmp = $layout.subplots[i_subplot].plot_elements;
        [tmp[i_plot_element], tmp[i_plot_element - 1]] = [
            tmp[i_plot_element - 1],
            tmp[i_plot_element],
        ];
        $layout.subplots[i_subplot].plot_elements = tmp;
    };

    // Catalog of datasets
    // $: console.log($layout.subplots[i_subplot].plot_elements[i_plot_element].server)
    // $: catalog_query = useQuery(['catalog',
    //                              $layout.subplots[i_subplot].plot_elements[i_plot_element].server + '/catalog'],
    //                              fetch_json,
    //                              {staleTime: 86400e3} );
</script>

{#if open && $layout.subplots[i_subplot]}
    {#if $layout.subplots[i_subplot].plot_elements[i_plot_element]}
        <div class="flex justify-between">
            <ButtonGroup color="primary" size="xs">
                <Button
                    color="red"
                    on:click={() => {
                        close_plot_element(i_subplot, i_plot_element);
                    }}><Trash size="12" /></Button>
            </ButtonGroup>

            <ButtonGroup>
                {#if $layout.subplots[i_subplot].plot_elements[i_plot_element].visible}
                    <Button
                        color="blue"
                        on:click={() => {
                            $layout.subplots[i_subplot].plot_elements[
                                i_plot_element
                            ].visible =
                                !$layout.subplots[i_subplot].plot_elements[
                                    i_plot_element
                                ].visible;
                        }}>
                        <Eye size="14" />
                    </Button>
                {:else}
                    <Button
                        color="red"
                        on:click={() => {
                            $layout.subplots[i_subplot].plot_elements[
                                i_plot_element
                            ].visible =
                                !$layout.subplots[i_subplot].plot_elements[
                                    i_plot_element
                                ].visible;
                        }}>
                        <EyeSlash size="14" />
                    </Button>
                {/if}
                {#if i_plot_element == $layout.subplots[i_subplot].plot_elements.length - 1}
                    <Button disabled><ArrowDown size="12" /></Button>
                {:else}
                    <Button
                        on:click={() => {
                            move_down_plot_element(i_subplot, i_plot_element);
                        }}><ArrowDown size="12" /></Button>
                {/if}

                {#if i_plot_element == 0}
                    <Button disabled><ArrowUp size="12" /></Button>
                {:else}
                    <Button
                        on:click={() => {
                            move_up_plot_element(i_subplot, i_plot_element);
                        }}><ArrowUp size="12" /></Button>
                {/if}
            </ButtonGroup>
        </div>

        <Tabs style="underline">
            <TabItem open>
                <div slot="title" class="flex items-center gap-2">
                    <Server />{#if $sidebar_width > sidebar_width_tab_labels}Data{/if}
                </div>
                <div class="plotelement">
                    <PlotElementHAPIForm {i_subplot} {i_plot_element} />
                </div>
            </TabItem>
            <TabItem>
                <div slot="title" class="flex items-center gap-2">
                    <Tag />{#if $sidebar_width > sidebar_width_tab_labels}Label{/if}
                </div>
                <Label
                    >Title:
                    <Input
                        bind:value={$layout.subplots[i_subplot].plot_elements[
                            i_plot_element
                        ].title} />
                </Label>
            </TabItem>
            <TabItem>
                <div slot="title" class="flex items-center gap-2">
                    <Swatch />{#if $sidebar_width > sidebar_width_tab_labels}Style{/if}
                </div>
                <PlotElementStyleForm {i_subplot} {i_plot_element} />
            </TabItem>
        </Tabs>
    {/if}
{/if}

<style>
</style>
