<script type="ts">
    import { Range, Input, Helper } from "flowbite-svelte";
    export let color;
    export let opacity;
    export let disabled = false;
</script>

<div class="flex flex-row gap-5">
    <div class="w-full">
        <Range {disabled} min="0" max="1" step="0.01" bind:value={opacity} />
        <Helper
            ><div class="flow-root">
                <span class="float-left">transparent</span><span
                    class="float-right">opaque</span>
            </div></Helper>
    </div>
    <div class="w-24">
        <input {disabled} type="color" bind:value={color} class="w-full" />
    </div>
</div>
