<script lang="ts">
    import {
        QueryClient,
        QueryClientProvider,
    } from "@sveltestack/svelte-query";
    import LayoutLoad from "./lib/LayoutLoad.svelte";
    // import { setup_midi_input } from "./lib/input_devices/midi_input.js";
    const queryClient = new QueryClient();
    console.log(
        "Version 0.4.4 - Multiple Auroreye YouTube movies selectable and seekable",
    );
    // setup_midi_input();
</script>

<QueryClientProvider client={queryClient}>
    <LayoutLoad />
</QueryClientProvider>
